.App {
    margin: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.logo {
    margin: 1rem;
    height: 120px;
    border-radius: 50px;
}

.card {
    padding: 30px;
    text-align: center;
    min-width: 25vw;
}

.question-input {
    width: 100%;
    height: 15vh;
    font-size: 1rem;
    font-family: 'Roboto Mono';
    border: 0;
    text-align: center;
    word-wrap: normal;
}

.question-input,
textarea,
select {
    outline: none;
}

.title-input {
    width: 100%;
    height: 2.5rem;
    font-size: 1.8rem;
    font-family: 'DM Serif Text';
    border: 0;
    text-align: center;
    word-wrap: normal;
    font-weight: bold;
}

.title-input,
textarea,
select {
    outline: none;
}

.body-input {
    width: 50vw;
    height: 40vh;
    font-size: 1rem;
    font-family: 'Roboto Mono';
    border: 0;
    text-align: center;
    word-wrap: normal;
}

.body-input,
textarea,
select {
    outline: none;
}

.option-input {
    margin-left: 2rem;
    font-size: 0.8rem;
    font-family: 'Roboto Mono';
    border: 0;
    display: inline flex;
}

.option-input,
textarea,
select {
    outline: none;
}

.submit {
    text-align: right;
    display: inline;
}

.input-root {
    border-radius: 50px;
    box-shadow: 1.5px 1.5px 1.5px .5px #888888;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.question-input-root {
    width: 100%;
    padding: 20px;
    background: white;
    border-radius: 30px;
    margin-left: -20px;
    box-shadow: 1.5px 1.5px 1.5px 0.5px #888888;
}

.typed {
    padding: 20px;
    /* background-color: rgb(109, 123, 214, 0.95); */
    /* background-color: white; */
    background-color: rgb(255,255,255,0.9); 
    border-radius: 10px;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 2rem
}

.type {
    color: rgb(228, 64, 64)
}