.App {
    margin: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.logo {
    margin: 1rem;
    height: 120px;
    border-radius: 50px;
}

.card {
    padding: 30px;
    text-align: center;
    min-width: 25vw;
}

.question-input {
    width: 100%;
    height: 15vh;
    font-size: 1rem;
    font-family: 'Roboto Mono';
    border: 0;
    text-align: center;
    word-wrap: normal;
}

.question-input,
textarea,
select {
    outline: none;
}

.option-input {
    margin-left: 2rem;
    font-size: 0.8rem;
    font-family: 'Roboto Mono';
    border: 0;
    display: inline flex;
}

.option-input,
textarea,
select {
    outline: none;
}

.submit {
    text-align: right;
    display: inline;
}

.input-root {
    border-radius: 50px;
    box-shadow: 1.5px 1.5px 1.5px .5px #888888;
    display: flex;
    justify-content: space-between;
}

.question-input-root {
    width: 100%;
    padding: 10px;
}